@import url(./pokedex.css);

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1113163c;
}

.content h1 {
    display: grid;
    margin: 0;
    justify-content: center;
    color: #ffcb05;
    text-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Pokemon Solid', sans-serif;
    padding-bottom: 0.5rem;      
    font-size: 3rem;            
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

@media (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

